<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="test"/><!-- v-model双向数据绑定 -->
        <div class="msg">{{test}}</div>
        <div class="wrap">
            <div class="wrap1" v-show="false">
                dier
            </div>
            <div class="wrap2" v-on:click="handle"><!--v-on用于绑定事件/@click-->
                eihei
            </div>
        </div>

        <div class="wrap">
            <ul>
                <li v-for="list in newsList">
                    {{list.title}}--{{list.date}}
                </li>
            </ul>
           <div class="content" v-html="content">{{content}}</div> <!-- 解析含有HTML标签的文本 -->
           <div class="content" v-text="content">{{content}}</div> <!--  -->
        </div>
        <div class="wrap">
            <div class="className" v-bind:class="isActiv ? 'active':''">is</div><!--v-bind动态绑定类名-->
            <div class="class" :class="{good:className}"></div><!--通过className决定good类名的添加-->
            <div class="class" :class="[classA,classB]"></div><!--通过数组添加多个类名-->
        </div>
    </div>
    <script>
        var app = new Vue({
            el:'#app',//指明作用域
            data(){
                return{
                    message:'hello world',
                    test:'',
                    deng:false,
                    newsList: [
                        {title: '全国各地的梯子遭到我国长城防火墙的禁用', date:'2019/5/31'},
                        {title: '韩国瑜：准备承担2020年重担，让鬼混的民进党下台', date:'2019/6/1'},
                        {title: '冠心病“救命药”单片涨价近11倍 药企：换了包装', date:'2019/6/2'},
                        {title: '长春一天集齐雷电冰雹暴雨：有路段积水漂车，部分航班取消', date:'2019/6/3'}
                    ],
                    content:'<p>Connon</p>',
                    isActiv:true,
                    className:true,
                    classA:'A',
                    classB:'B'
                }
            },
            methods:{
                handle(){
                    console.log('handsome')
                }
            },
            created(){
                console.log('created')
            },
            beforeCreate(){
                console.log('beforeCreate')
            },
            mounted(){
                console.log('mounted')
            },
            beforeMounte(){
                console.log('beforeMount')
            },
            updated(){
                console.log('updated')
            },
            beforeUpdate(){
                console.log('beforeUpdate')
            },
            destory(){
                console.log('destory')
            },
            beforedistory(){
                console.log('beforeDestory')
            },
        })
    </script>
</body>
</html>